# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ThisIsTheMF.iml
# Datasource local storage ignored files
/../../../../../../../../../:\GitRepos\GOTY\GameOfTheYear\ThisIsMF\ThisIsTheMF\.idea\.idea.ThisIsTheMF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
